<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>华中农业大学党委宣传部/新闻中心备案系统</title>
    <link rel="stylesheet" href="./Public/css/bootstrap.css">
    <link rel="stylesheet" href="./Public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./Public/css/home.css">
</head>

<body>
    <include file="Public/header" />
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>本系统仅面向党委宣传部/新闻中心旗下的学生团队</p>
                <div class="row">
						<div class="col-sm-6 col-md-4">
						    <div class="thumbnail">
						        <img src="./Public/images/lc1.jpg" class="img-responsive">
						        <div class="caption">
						        	<p></p>
						            <p><a href="{:U('Public/reg')}" class="btn btn-default  btn-block " role="button">立即登记</a></p>
						        </div>
						    </div>
						</div>
						<div class="col-sm-6 col-md-4">
						    <div class="thumbnail">
						        <img src="./Public/images/lc2.jpg" class="img-responsive">
						        <div class="caption">
						        	<p></p>
						            <p><a href="{:U('Group/index')}" class="btn btn-default btn-block " role="button">注册团队</a></p>
						        </div>
						    </div>
						</div>
						<div class="col-sm-6 col-md-4">
						    <div class="thumbnail">
						        <img src="./Public/images/lc3.jpg" class="img-responsive">
						        <div class="caption">
						        	<p></p>
						            <p><a href="#" class="btn btn-default btn-block " role="button">工作年审</a> </p>
						        </div>
						    </div>
						</div>

                </div>
                <p>老成员备案+年审</p>
                <img src="./Public/images/lc.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-3">
            	<p>成员登陆</p>
                <form action="{:U('Public/doLogin')}" class="form-horizontal" method="POST">
                    <fieldset>
                        <div id="legend" class="">
                            <legend class="">登记基础信息</legend>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="ecard">一卡通号</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="一卡通号" class="form-control" name="ecard" id="ecard" value="1244">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label col-sm-4">密码</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="请输入密码" class="form-control" name="password" id="password" value="888888">
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">登陆</button>
                        </div>
                        <div style="padding-bottom: 50px;"></div>
                    </fieldset>
                </form>
            	
                <p>备案须知</p>
                <ul>
                    <li>请在9月25日以前完成线上备案</li>
                    <li>请准备一张登记照电子版</li>
                    <li>用户敏感信息会加密保存</li>
                </ul>
            </div>
        </div>
    </div>
    <include file="Public/footer" />

</body>
<script src="./Public/js/bootstrap.min.js"></script>

</html>
