<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>华中农业大学党委宣传部/新闻中心备案系统</title>
    <link rel="stylesheet" href="./Public/css/bootstrap.css">
    <link rel="stylesheet" href="./Public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./Public/css/home.css">
</head>

<body>
    <div class="container" id="header">
        <div class="row">
            <div class="col-md-12">
                <div class="logo"><img src="./Public/images/logo.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>本系统仅面向党委宣传部/新闻中心旗下的学生团队</p>
                <div class="row">
						<div class="col-sm-6 col-md-4">
						    <div class="thumbnail">
						        <img src="./Public/images/lc1.jpg" class="img-responsive">
						        <div class="caption">
						        	<p></p>
						            <p><a href="{:U('User/reg')}" class="btn btn-default  btn-block " role="button">立即登记</a></p>
						        </div>
						    </div>
						</div>
						<div class="col-sm-6 col-md-4">
						    <div class="thumbnail">
						        <img src="./Public/images/lc2.jpg" class="img-responsive">
						        <div class="caption">
						        	<p></p>
						            <p><a href="{:U('Group/reg')}" class="btn btn-default btn-block " role="button">注册团队</a></p>
						        </div>
						    </div>
						</div>
						<div class="col-sm-6 col-md-4">
						    <div class="thumbnail">
						        <img src="./Public/images/lc3.jpg" class="img-responsive">
						        <div class="caption">
						        	<p></p>
						            <p><a href="#" class="btn btn-default btn-block " role="button">工作年审</a> </p>
						        </div>
						    </div>
						</div>

                </div>
                <p>老成员备案+年审</p>
                <img src="./Public/images/lc.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-3">
            	<p>成员登陆</p>
            	
                <p>备案须知</p>
                <ul>
                    <li>请在9月25日以前完成线上备案</li>
                    <li>请准备一张登记照电子版</li>
                    <li>用户敏感信息会加密保存</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container footer" >
    	<div class="row">
    		华中农业大学党委宣传部 Powerby {we}studio
    	</div>
    </div>
</body>
<script src="./Public/js/bootstrap.min.js"></script>

</html>
