<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>华中农业大学党委宣传部/新闻中心备案系统</title>
    <link rel="stylesheet" href="./Public/css/bootstrap.css">
    <link rel="stylesheet" href="./Public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./Public/css/home.css">
</head>

<body>
    <include file="Public/header" />
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <form action="" class="form-horizontal" method="POST">
                    <fieldset>
                        <div id="legend" class="">
                            <legend class="">你正在注册加入<strong class="text-primary">{$group.name}</strong>团队</legend>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="ecard">加入时间</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="year" id="year">
                                    <option value="">年</option>
                                    <?php
                                        for($i=2016;$i>2010;$i--){
                                        echo "<option value=".$i.">".$i."</option>";
                                        }
                                    ?>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" name="month" id="month">
                                    <option value="">月</option>
                                    <for start="1" end="13">
                                        <option value="{$i}">{$i}</option>
                                    </for>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="control-label col-sm-2">工作目标</label>
                            <div class="col-sm-4">
                                <input type="text" placeholder="请输入密码" class="form-control" name="password" id="password" value="888888">
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="gid" value="{$group.gid}">
                            <button type="submit" class="btn btn-default">加入</button><a href="/cal/index.php?m=User&amp;c=Public&amp;a=index" class="btn">由团队负责人审核</a>
                        </div>
                        <div style="padding-bottom: 50px;"></div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-3">
                <p>成员登陆</p>
                <p>备案须知</p>
                <ul>
                    <li>请在9月25日以前完成线上备案</li>
                    <li>请准备一张登记照电子版</li>
                    <li>用户敏感信息会加密保存</li>
                </ul>
            </div>
        </div>
    </div>
    <include file="Public/footer" />
</body>
<script src="./Public/js/jquery.min.js"></script>
<script src="./Public/js/bootstrap.min.js"></script>
<script>
function SetCode(n) {
    if ($('#mobile').length = 11) {
        if (n)
            $.ajax({
                type: "get",
                dataType: "json",
                url: "ajax.aspx?oper=telpcode&clienttime=" + (new Date().getTime()),
                data: "txtMobileCode=" + $("#txtMobileCode").val(),
                success: function(d) {
                    if (d.result == "1") {
                        alert("验证码发送成功");
                        GetNumber();
                        return true;
                    } else {
                        alert("验证码发送失败");
                        return false;
                    }
                }
            });
        else {}
    } else {}
}
var count = 5;

function GetNumber() {
    $("#btnCode").attr("disabled", "disabled");
    $("#btnCode").val(count + "秒之后点击获取")
    count--;
    if (count > 0) {
        setTimeout(GetNumber, 1000);
    } else {
        $("#btnCode").val("点击获取验证码");
        $("#btnCode").attr("disabled", "");
        count = 5;
    }
}
</script>

</html>
